<div class="el-downlist">
     <div class="canvas-ct" style="overflow: hidden;position:fixed;z-index:-1">
        <canvas class="mycanvas"></canvas>
    </div>
    <div class="route" style="min-height:{{route_height}}px">
        <div x-repeat="first_type" class="first-type">
            <div class='item-name' e-click='routeItem' x-class="{'show':'show'}">{{first_name}}</div>
            <div class='route-ct' x-show="show">
                <div x-repeat="plugin" class='item' e-click="active">
                    <div x-route="{{route}}"  x-class="{'active':'active'}"  active="active">{{name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class='router-content'>
        <div x-router></div>
    </div>
<div class="down-page" x-show="down">
    <div class="down-content">
        <div class="head">
            下载插件
            <div class="dele-btn" e-click="close">
                <div class="content"></div>
            </div>
        </div>
        <div class="list">
            <a href="{{src}}" download e-click="close">点击下载</a>
        </div>
    </div>
</div>
</div>