<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>nodom插件库</title>
    <link rel="stylesheet/less" href="/plugin_set/public/css/base.less">
    <link rel="stylesheet/less" href="/plugin_set/public/css/plugin_list.less">
    <link rel="stylesheet/less" href="/plugin_set/public/css/plugin_type.less">
    <script type="text/javascript" src="/plugin_set/public/js/nodom-full.js"></script>
    <script type="text/javascript" src="/plugin_set/public/js/less.min.js"></script>
</head>
<body>
    <div class="plugin-set el-plugin-set">
        <div x-route="/route" active="active"></div>
        <div x-router></div>
    </div>
</body>
<script type="text/javascript" src="/plugin_set/public/js/plugin_set.js"></script>
</html>