@import "base";

.plugin-type{
  .plugin-name{
    width: 150px;
    margin: 30px auto;
    text-align: center;
    .font22;
    font-weight: bold;
    color: #FF9966;
  }
  .plugin-item{
    min-height: 120px;
    width: 100%;
    padding: 10px;
    border: 1px #666 dashed;
    margin: 30px auto;
    .plugin-content{
      margin: 0 auto;
      min-height: 50px;
    }
    .plugin-explain{
      margin: 20px auto;
      min-height: 50px;
      width: 80%;
      .explain{
        text-indent: 30px;
      }
    }
  }
}