.nd-plugin-check-1{
	user-select: none;
}
.nd-plugin-check-1 .check-content{
	width: 100px;
	margin:0 auto;
}
.nd-plugin-check-1 .check-content .check{
	border:1px solid #ccc;
	position: relative;
    width: 50px;
	height: 50px;
	border-radius: 50%;
	margin:0 auto;
}
.nd-plugin-check-1 .check-content .empty{
	margin:0 auto;
	border:1px solid #ccc;
	width: 50px;
	height: 50px;
	margin-bottom: 20px;
	border-radius: 50%;
}
.nd-plugin-check-1 .check-content .check-center{
	display: block;
	position: absolute;
	content:"";
	top:25%;
	left:25%;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	background-color: #fff;
}

.nd-plugin-check-1 .check-content .no-is-circle::after {
	display: block;
	position: absolute;
	content:"";
	top:25%;
	left:25%;
	width: 50%;
	height: 50%;
	border-radius: 0;
	background-color: #fff;
}