.el-carouse_2 .carous_ct {
    width: 100%;
    /*height: 7.78rem;*/
    margin:0 auto;
    overflow: hidden;
    position: relative;
    padding: 50px 0;
}

.el-carouse_2 .carous_ct .plugin {
    /*perspective: 600px;*/
    width: 100%;
    height: 100%;
    position: relative;
}

.el-carouse_2 .carous_ct .plugin .carous {
    display: block;
    transform-style: preserve-3d;
    transition: all 3s;
    width: 100%;
    height: 100%;
}

.el-carouse_2 .carous_ct .plugin .carous img {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.el-carouse_2 .carous_ct .spancont {
    width: 100%;
    position: absolute;
    bottom: 15px;
    height: 25px;
}

.el-carouse_2 .carous_ct .spancont .span {
    width: 100px;
    margin: 0 auto;
}
.el-carouse_2 .carous_ct .left{
    z-index: 9999;
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: 50px;
    height: 25px;
    left: 0;
    background-image: url(../img/left.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.el-carouse_2 .carous_ct .right{
      z-index: 9999;
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: 50px;
    height: 25px;
    right: 0;
    background-image: url(../img/right.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.el-carouse_2 .carous_ct .img-content{
    width: 100%;
    height: 100%;
    background-color: #eeeeee63;

}
.el-carouse_2 .carous_ct .spancont .span span {
    display: inline-block;
    height: 13px;
    width: 13px;
    background-color: #f8f8f8;
    margin: 0 5px;
    border-radius: 50%;
}

.el-carouse_2 .carous_ct .spancont .span .active {
    background-color: #f80000;
}